<div id="bienvenido" class="row">
    <div class="col-md-12 ">
        <h1>Bienvenidos a mi pagina web</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-primary" style="color: white;"><a asp-controller="Products" asp-action="Index">Gestionar productos</a></button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" style="color: white;"><a asp-controller="Auth" asp-action="Login">Ingresar</a></button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" style="color: white;"><a asp-controller="User" asp-action="Index">Gestionar usuarios</a></button>
    </div>
</div>