<center>
    <div class="row">
        <div class="col-md-12">
            <div style="height: 500px; width: 400px;" class="card">
                <div class="card-body">
                    <h1>Duvian</h1>
                    <h1>Lopez</h1>
                    <h2>duvian@example.com</h2>
                    <h2>M</h2>
                    <h2>32 años</h2><br><br>
                    <button class="btn btn-danger" ><a asp-controller="User" asp-action="Delete">Eliminar</a></button>
                    <button class="btn btn-warning" ><a asp-controller="User" asp-action="Editar">Editar</a></button>
                </div>
            </div>
        </div>
    </div>
</center>