<div style="margin: auto; margin-top: 250px;">
    <button style="padding: 30px;  border-radius: 30%;" class="btn btn-warning" >Se ha actualizado correctamente</button><br><br>
    <button class="btn btn-success"  ><a asp-controller="User" asp-action="Index">Ver listado de usuarios</a></button>
</div>