<div id="container" class="container ">
    <div class="row">
        <center>
            <div id="col" class="col-md-12">
            <div id="card" class="card">
                <div class="card-body">
                    <div class="input-group input-group-sm mb-3 mt-20">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Imagen</span>
                    <input id="correo" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm mb-3 mt-20">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                    <input id="clave" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <div class="input-group input-group-sm mb-3 mt-20">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Precio</span>
                    <input id="clave" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>

                    <button class="btn btn-primary "><a asp-controller="Products" asp-action="Index">Crear</a></button>
                </div>
            </div>
        </div>
        </center>
    </div>
</div>