<center>
    <div class="row">
        <div class="col-md-12">
            <div style="height: 400px;  width: 300px" class="card">
                <center>
                    <img width="150px;" height="150px;" src="https://cdn1.totalcommerce.cloud/mercacentro/product-zoom/es/atun-van-camps-aceite-vegetal-160-g-3.webp" alt="">
                    <div class="card-body">
                        <h1>Atun</h1>
                        <p>$6000</p><br><br>
                        <button class="btn btn-danger" ><a asp-controller="Products" asp-action="Delete">Eliminar</a></button>
                        <button class="btn btn-warning" ><a asp-controller="Products" asp-action="Editar">Editar</a></button>
                    </div>
                </center>
            </div>
        </div>
    </div>
</center>